@{
    ViewBag.Title = "Главная страница";
}

<br />

<p>
    @Html.ActionLink("Журнал выдачи", "LibraryJournal")
</p>

<br />

<p>
    @Html.ActionLink("Оформить выдачу", "GetBook")
</p>

<br />

<p>
    @Html.ActionLink("Добавить читателя", "CreateReader")
</p>

<br />

<p>
    @Html.ActionLink("Каталог книг", "BookCatalog")
</p>

<br />

<p>
    @Html.ActionLink("Каталог читателей", "ReaderCatalog")
</p>

